<%= form_for(@ad, :html => {:multipart => true}) do |f| %>
	<% if @ad.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@ad.errors.count, "error") %> prohibited this ad from being saved:</h2>

			<ul>
				<% @ad.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<table class="form">
		<tr class="field">
			<th><%= raw require(f.label :ad_group_id, "Ad Group") %></th>
			<td><%= f.select :ad_group_id, AdGroup.includes(:campaign).where("campaigns.account_id = ?", @auth_user.account_id).all.collect{ |ag| [ag.name, ag.id] } %></td>
		</tr>
		<tr class="field">
			<th><%= raw require(f.label :ad_type_id, "Ad Type") %></th>
			<td><%= f.select :ad_type_id, AdType.all.collect{ |at| ["#{at.label} (#{at.name})", at.id] } %></td>
		</tr>
		<tr class="field">
			<th><%= raw require(f.label :title) %></th>
			<td><%= f.text_field :title %></td>
		</tr>
		<tr class="field">
			<th><%= f.label :media %></th>
			<td><%= f.file_field :media %></td>
		</tr>
		<tr class="field">
			<th><%= f.label :media_url, "Media URL" %></th>
			<td>
				<%= f.text_field :media_url %><br />
				<em>Media URL will be automatically filled in if you upload media.</em>
			</td>
		</tr>
		<tr class="field">
			<th><%= raw require(f.label :description_line1, "Description Line 1") %></th>
			<td><%= f.text_field :description_line1 %></td>
		</tr>
		<tr class="field">
			<th><%= raw require(f.label :description_line2, "Description Line 2") %></th>
			<td><%= f.text_field :description_line2 %></td>
		</tr>
		<tr class="field">
			<th><%= raw require(f.label :description) %></th>
			<td><%= f.text_field :description %></td>
		</tr>
		<tr class="field">
			<th><%= f.label :display_url, "Display URL" %></th>
			<td><%= f.text_field :display_url %></td>
		</tr>
		<tr class="field">
			<th><%= raw require(f.label :destination_url, "Destination URL") %></th>
			<td><%= f.text_field :destination_url %></td>
		</tr>
		<% Attribute.all.each do |a| %>
			<tr class="field">
				<th><%= a.label %></th>
				<td>
					<table>
						<tbody>
							<% a.attribute_values.each do |av| %>
								<tr class="field">
									<th><%= label_tag "ad_attribute_value_ids_#{av.id}", av.label %></th>
									<td><%= check_box_tag "ad[attribute_value_ids][]", av.id, @ad.has_attribute_value(av), :id => "ad_attribute_value_ids_#{av.id}" %></td>
								</tr>
							<% end %>
						</tbody>
					</table>
				</td>
			</tr>
		<% end %>
		<tr class="field">
			<th>Publishers</th>
			<td>
					<table>
						<tbody>
							<% Publisher.all.each do |p| %>
								<tr class="field">
									<th><%= label_tag "ad_publisher_ids_#{p.id}", p.name %></th>
									<td><%= check_box_tag "ad[publisher_ids][]", p.id, @ad.has_publisher(p), :id => "ad_publisher_ids_#{p.id}" %></td>
								</tr>
							<% end %>
						</tbody>
					</table>
			</td>
			<th><%= f.label :geolocate %></th>
			<td><%= f.check_box :geolocate %></td>
		</tr>
		<tr class="field">
			<th><%= f.label :enabled %></th>
			<td><%= f.check_box :enabled %></td>
		</tr>
		<tr class="actions">
			<td colspan="2"><%= f.submit %></td>
		</tr>
	</table>
<% end %>
