<div style="float:right; width:400px; height: 150px;">
	<%= render :partial => "layouts/rgraph_line", :locals => {:id => "ad_daily_totals_#{@ad.id}", :width => "400", :height => "150", :totals => @ad.daily_totals} %>
</div>

<p>
  <b>Ad Group:</b>
  <%= @ad.ad_group.name %>
</p>

<p>
  <b>Ad Type:</b>
  <%= @ad.ad_type.name %>
</p>

<p>
  <b>Title:</b>
  <%= @ad.title %>
</p>

<p>
  <b>Bid Type:</b>
  <%= @ad.bid_type.name %> (<%= @ad.bid_type.label %>)
</p>

<p>
  <b>Bid:</b>
  <%= "%04.2f" % @ad.bid %>
</p>

<p>
  <b>Daily Limit:</b>
  <%= "%04.2f" % @ad.daily_limit %>
</p>

<p>
  <b>Media URL:</b>
  <%= @ad.media_url.empty? ? "(awaiting upload)" : link_to(@ad.media_url, @ad.media_url) %>
</p>

<p>
  <b>Description Line 1:</b>
  <%= @ad.description_line1 %>
</p>

<p>
  <b>Description Line 2:</b>
  <%= @ad.description_line2 %>
</p>

<p>
  <b>Description:</b>
  <%= @ad.description %>
</p>

<p>
  <b>Display URL:</b>
  <%= @ad.display_url %>
</p>

<p>
  <b>Destination URL:</b>
  <%= @ad.destination_url %>
</p>

<p>
  <b>Enabled:</b>
  <%= @ad.enabled ? "Yes" : "No" %>
</p>

<p>
	<%= link_to 'Edit', edit_ad_path(@ad) %> |
	<%= link_to 'Back', ads_path %>
</p>


<h2>Template Previews</h2>
<% @ad.ad_type.templates.each do |template| %>
	<div class="ad-preview">
		<iframe src="<%= url_for :controller => "templates", :action => "preview", :id => template.id, :ad_id => @ad.id %>" style="width:<%= template.width %>px;height:<%= template.height %>px;"></iframe>
	</div>
<% end %>
