<%= form_for(@publisher) do |f| %>
	<% if @publisher.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@publisher.errors.count, "error") %> prohibited this publisher from being saved:</h2>

			<ul>
				<% @publisher.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<table class="form">
		<tr class="field">
			<th><%= f.label :name %></th>
			<td><%= f.text_field :name %></td>
		</tr>
		<tr class="field">
			<th><%= f.label :website %></th>
			<td><%= f.text_field :website %></td>
		</tr>
		<tr class="field">
			<th><%= f.label :phone %></th>
			<td><%= f.text_field :phone %></td>
		</tr>
		<tr class="field">
			<th><%= f.label :contact_name, "Contact Name" %></th>
			<td><%= f.text_field :contact_name %></td>
		</tr>
		<tr class="field">
			<th><%= f.label :enabled %></th>
			<td><%= f.check_box :enabled %></td>
		</tr>
		<tr class="actions">
			<td colspan="2"><%= f.submit %></td>
		</tr>
	</table>
<% end %>
