<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @publisher.name %>
</p>

<p>
  <b>Website:</b>
  <%= @publisher.website %>
</p>

<p>
  <b>Phone:</b>
  <%= @publisher.phone %>
</p>

<p>
  <b>Contact name:</b>
  <%= @publisher.contact_name %>
</p>

<p>
  <b>Access hash:</b>
  <%= @publisher.access_hash %>
</p>

<p>
  <b>Enabled:</b>
  <%= @publisher.enabled %>
</p>


<%= link_to 'Edit', edit_publisher_path(@publisher) %> |
<%= link_to 'Back', publishers_path %>
