<span class="nav-item">Reports:</span>
<span class="nav-item"><%= link_to "Campaigns", :controller => "reports", :action => "by_campaigns" %></span>
<span class="nav-item"><%= link_to "Ad Groups", :controller => "reports", :action => "by_ad_groups" %></span>
<span class="nav-item"><%= link_to "Ads", :controller => "reports", :action => "by_ads" %></span>
<span class="nav-item"><%= link_to "Publishers", :controller => "reports", :action => "by_publishers" %></span>
<span class="nav-item"><%= link_to "Templates", :controller => "reports", :action => "by_templates" %></span>
<span class="nav-item"><%= link_to "Template Types", :controller => "reports", :action => "by_template_types" %></span>
