<% content_for :second_header do %>
	<%= render :partial => "reports/second_header" %>
<% end %>

<%= render :partial => "reports/header", :locals => {:title => "Publishers Report", :action => "by_publishers"} %>

<table class="reports">
	<thead>
		<tr>
			<th>Publisher</th>
			<th>Impressions</th>
			<th>Clicks</th>
		</tr>
	</thead>
	<tbody>
		<% @publishers.each do |publisher| %>
			<tr<% unless publisher.enabled %> class="disabled"<% end %>>
				<td><%= publisher.name %> <sup><%= link_to 'Edit', edit_publisher_path(publisher) %></sup></td>
				<td><%= "%d" % (publisher.impressions || 0) %></td>
				<td><%= "%d" % (publisher.clicks || 0) %></td>
			</tr>
		<% end %>
	</tbody>
</table>
