<% content_for :second_header do %>
	<%= render :partial => "reports/second_header" %>
<% end %>

<h1>Templates Reports</h1>
<h4>Dates: <%= Time.at(session[:reports_start_date]).utc %> - <%= Time.at(session[:reports_end_date]).utc %></h4>

<table class="reports">
	<thead>
		<tr>
			<th>Template</th>
			<th>Impressions</th>
			<th>Clicks</th>
		</tr>
	</thead>
	<tbody>
		<% @templates.each do |template| %>
			<tr>
				<td><%= template.name %></td>
				<td><%= "%d" % (template.impressions || 0) %></td>
				<td><%= "%d" % (template.clicks || 0) %></td>
			</tr>
		<% end %>
	</tbody>
</table>
