<h1>Listing Campaigns</h1>

<table class="list">
	<thead>
		<tr>
			<th>Name</th>
			<th>Enabled?</th>
			<th class="action"></th>
		</tr>
	</thead>

	<tbody>
		<% @campaigns.each do |campaign| %>
			<tr>
				<td><%= campaign.name %></td>
				<td><%= campaign.enabled ? "Yes" : "No" %></td>
				<td class="actions">
					<%= link_to 'Show', campaign %>
					<%= link_to 'Edit', edit_campaign_path(campaign) %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>

<%= link_to 'New Campaign', new_campaign_path %>
