<h1>Listing Campaigns</h1>

<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Enabled?</th>
			<th></th>
			<th></th>
		</tr>
	</thead>

	<tbody>
		<% @campaigns.each do |campaign| %>
			<tr>
				<td><%= campaign.name %></td>
				<td><%= campaign.enabled ? "Yes" : "No" %></td>
				<td><%= link_to 'Show', campaign %></td>
				<td><%= link_to 'Edit', edit_campaign_path(campaign) %></td>
			</tr>
		<% end %>
	</tbody>
</table>

<br />

<%= link_to 'New Campaign', new_campaign_path %>
