<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @campaign.name %>
</p>

<p>
  <b>Enabled:</b>
  <%= @campaign.enabled ? "Yes" : "No" %>
</p>


<%= link_to 'Edit', edit_campaign_path(@campaign) %> |
<%= link_to 'Back', campaigns_path %>
