<%= form_for(@user) do |f| %>
	<% if @user.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

			<ul>
				<% @user.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<table class="form">
		<tr class="field">
			<th><%= raw require(f.label :username) %></th>
			<td><%= f.text_field :username %></td>
		</tr>
		<tr class="field">
			<th><%= @user.new_record? ? raw(require(f.label :password)) : f.label(:password) %></th>
			<td><%= f.password_field :password %></td>
		</tr>
		<tr class="field">
			<th><%= @user.new_record? ? raw(require(f.label :password_confirmation, "Password Confirmation")) : f.label(:password_confirmation, "Password Confirmation") %></th>
			<td><%= f.password_field :password_confirmation %></td>
		</tr>
		<tr class="field">
			<th><%= raw require(f.label :email) %></th>
			<td><%= f.text_field :email %></td>
		</tr>
		<tr class="field">
			<th><%= f.label :enabled %></th>
			<td><%= f.check_box :enabled %></td>
		</tr>
		<tr class="actions">
			<td colspan="2"><%= f.submit %></td>
		</tr>
	</table>
<% end %>
