<p>
  <b>Name:</b>
  <%= @publisher.name %>
</p>

<p>
  <b>Website:</b>
  <%= @publisher.website %>
</p>

<p>
  <b>Phone:</b>
  <%= @publisher.phone %>
</p>

<p>
  <b>Contact Name:</b>
  <%= @publisher.contact_name %>
</p>

<p>
  <b>Access Hash:</b>
  <%= @publisher.access_hash %>
</p>

<p>
  <b>Enabled:</b>
  <%= @publisher.enabled ? "Yes" : "No" %>
</p>

<p>
	<b>Integration:</b>
	<%= render :partial => "publishers/integration_form", :locals => {:publisher => @publisher, :templates => @templates, :types => @types, :attributes => @attributes, :publisher_integration => @publisher_integration} %>
</p>

<%= link_to 'Edit', edit_publisher_path(@publisher) %> |
<%= link_to 'Back', publishers_path %>
