<h1>Listing Ad Groups</h1>

<table class="list">
	<thead>
		<tr>
			<th>Name</th>
			<th>Campaign</th>
			<th class="action"></th>
		</tr>
	</thead>

	<tbody>
		<% @ad_groups.each do |ad_group| %>
			<tr>
				<td><%= ad_group.name %></td>
				<td><%= ad_group.campaign.name %></td>
				<td class="actions">
					<%= link_to 'Show', ad_group %>
					<%= link_to 'Edit', edit_ad_group_path(ad_group) %>
					<%= link_to 'Delete', ad_group, :confirm => "Are you sure you want to delete this record?", :method => :delete %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>

<%= link_to 'New Ad Group', new_ad_group_path %>
