<%= form_for(@ad, :html => {:multipart => true}) do |f| %>
  <% if @ad.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ad.errors.count, "error") %> prohibited this ad from being saved:</h2>

      <ul>
      <% @ad.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ad_group_id, "Ad Group" %><br />
	 <%= f.select :ad_group_id, AdGroup.includes(:campaign).where("campaigns.account_id = ?", @auth_user.account_id).all.collect{ |ag| [ag.name, ag.id] } %>
  </div>
  <div class="field">
    <%= f.label :template_type_id, "Template Type" %><br />
	 <%= f.select :template_type_id, TemplateType.all.collect{ |tt| [tt.name, tt.id] } %>
  </div>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :media %><br />
    <%= f.file_field :media %>
  </div>
  <div class="field">
    <%= f.label :media_url, "Media URL" %><br />
    <%= f.text_field :media_url %>
  </div>
  <div class="field">
    <%= f.label :description_line1, "Description Line 1" %><br />
    <%= f.text_field :description_line1 %>
  </div>
  <div class="field">
    <%= f.label :description_line2, "Description Line 2" %><br />
    <%= f.text_field :description_line2 %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :display_url, "Display URL" %><br />
    <%= f.text_field :display_url %>
  </div>
  <div class="field">
    <%= f.label :destination_url, "Destination URL" %><br />
    <%= f.text_field :destination_url %>
  </div>
  <div class="field">
    <%= f.label :enabled %><br />
    <%= f.check_box :enabled %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
