<h1>Listing Ads</h1>

<table>
	<thead>
		<tr>
			<th>Ad Group</th>
			<th>Template Type</th>
			<th>Title</th>
			<th>Destination URL</th>
			<th>Enabled?</th>
			<th></th>
			<th></th>
		</tr>
	</thead>

	<tbody>
		<% @ads.each do |ad| %>
			<tr>
				<td><%= ad.ad_group.name %></td>
				<td><%= ad.template_type.name %></td>
				<td><%= ad.title %></td>
				<td><%= ad.destination_url %></td>
				<td><%= ad.enabled ? "Yes" : "No" %></td>
				<td><%= link_to 'Show', ad %></td>
				<td><%= link_to 'Edit', edit_ad_path(ad) %></td>
			</tr>
		<% end %>
	</tbody>
</table>

<br />

<%= link_to 'New Ad', new_ad_path %>
