<h1>Listing ads</h1>

<table>
  <tr>
    <th>Ad group</th>
    <th>Template type</th>
    <th>Title</th>
    <th>Description line1</th>
    <th>Description line2</th>
    <th>Description</th>
    <th>Display url</th>
    <th>Destination url</th>
    <th>Enabled</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ads.each do |ad| %>
  <tr>
    <td><%= ad.ad_group.name %></td>
    <td><%= ad.template_type.name %></td>
    <td><%= ad.title %></td>
    <td><%= ad.description_line1 %></td>
    <td><%= ad.description_line2 %></td>
    <td><%= ad.description %></td>
    <td><%= ad.display_url %></td>
    <td><%= ad.destination_url %></td>
    <td><%= ad.enabled %></td>
    <td><%= link_to 'Show', ad %></td>
    <td><%= link_to 'Edit', edit_ad_path(ad) %></td>
    <td><%= link_to 'Destroy', ad, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Ad', new_ad_path %>
