<p>
  <b>Ad Group:</b>
  <%= @ad.ad_group.name %>
</p>

<p>
  <b>Ad Type:</b>
  <%= @ad.ad_type.name %>
</p>

<p>
  <b>Title:</b>
  <%= @ad.title %>
</p>

<p>
  <b>Media URL:</b>
  <%= @ad.media_url.empty? ? "(awaiting upload)" : link_to(@ad.media_url, @ad.media_url) %>
</p>

<p>
  <b>Description Line 1:</b>
  <%= @ad.description_line1 %>
</p>

<p>
  <b>Description Line 2:</b>
  <%= @ad.description_line2 %>
</p>

<p>
  <b>Description:</b>
  <%= @ad.description %>
</p>

<p>
  <b>Display URL:</b>
  <%= @ad.display_url %>
</p>

<p>
  <b>Destination URL:</b>
  <%= @ad.destination_url %>
</p>

<p>
  <b>Enabled:</b>
  <%= @ad.enabled ? "Yes" : "No" %>
</p>


<%= link_to 'Edit', edit_ad_path(@ad) %> |
<%= link_to 'Back', ads_path %>
