<div id="nav">
	<% if is_logged_in? %>
		<span class="nav-item"><%= link_to "Accounts", accounts_path %></span>
		<span class="nav-item"><%= link_to "Users", users_path %></span>
		<span class="nav-item"><%= link_to "Publishers", publishers_path %></span>
		<span class="nav-item"><%= link_to "Campaigns", campaigns_path %></span>
		<span class="nav-item"><%= link_to "Ad Groups", ad_groups_path %></span>
		<span class="nav-item"><%= link_to "Ads", ads_path %></span>
	<% end %>
</div>
