<!DOCTYPE html>
<html>
	<head>
		<title>Skynet Ad Serving</title>
		<%= stylesheet_link_tag "main" %>
		<%= javascript_include_tag :defaults %>
		<%= csrf_meta_tag %>
	</head>
	<body>
		<div id="container">
			<div id="header">
				<div id="page-title">Skynet Advertising Solutions</div>
				<%= render :partial => "layouts/user" %>
				<%= render :partial => "layouts/nav" %>
			</div>

			<div id="content">
				<%= render :partial => "layouts/flash_messages" %>
				<%= yield %>
			</div>

			<div id="footer">&copy; 2010 <a href="http://www.projectedinc.com">Projected, Inc.</a></div>
		</div>
	</body>
</html>
