<% content_for :second_header do %>
	<%= render :partial => "reports/second_header" %>
<% end %>

<%= render :partial => "reports/header", :locals => {:title => "Ad Types Report", :action => "by_ad_types"} %>

<table class="reports">
	<thead>
		<tr>
			<th>Ad Type</th>
			<th class="value">Impressions</th>
			<th class="value">Clicks</th>
			<th class="value">Click-Through Rate</th>
			<th class="value">Spent</th>
			<th class="value">Avg. CPM</th>
			<th class="value">Avg. CPC</th>
		</tr>
	</thead>
	<tbody>
		<% @ad_types.each do |ad_type| %>
			<tr>
				<th><%= ad_type.label %></th>
				<td class="value"><%= "%d" % (ad_type.impressions || 0) %></td>
				<td class="value"><%= "%d" % (ad_type.clicks || 0) %></td>
				<td class="value"><%= ad_type.impressions == 0 ? "N/A" : ("%.1f%%" % ((ad_type.clicks.to_f / ad_type.impressions.to_f) * 100)) %>
				<td class="value"><%= "$%04.2f" % (ad_type.spent || 0) %></td>
				<td class="value"><%= ad_type.impressions == 0 ? "N/A" : ("$%04.2f" % ((ad_type.spent.to_f / ad_type.impressions.to_f) * 1000)) %></td>
				<td class="value"><%= ad_type.clicks == 0 ? "N/A" : ("$%04.2f" % (ad_type.spent.to_f / ad_type.clicks.to_f)) %></td>
			</tr>
		<% end %>
	</tbody>
</table>
