<% content_for :second_header do %>
	<%= render :partial => "reports/second_header" %>
<% end %>

<%= render :partial => "reports/header", :locals => {:title => "Ad Groups Report", :action => "by_ad_groups"} %>

<table class="reports">
	<thead>
		<tr>
			<th>Ad Group</th>
			<th class="value">Impressions</th>
			<th class="value">Clicks</th>
			<th class="value">Click-Through Rate</th>
			<th class="value">Spent</th>
			<th class="value">Avg. CPM</th>
			<th class="value">Avg. CPC</th>
		</tr>
	</thead>
	<tbody>
		<% @ad_groups.each do |ad_group| %>
			<tr<% unless ad_group.campaign_enabled == 1 %> class="disabled"<% end %>>
				<th><%= ad_group.name %> <sup><%= link_to 'Edit', edit_ad_group_path(ad_group) %></sup></th>
				<td class="value"><%= "%d" % (ad_group.impressions || 0) %></td>
				<td class="value"><%= "%d" % (ad_group.clicks || 0) %></td>
				<td class="value"><%= ad_group.impressions == 0 ? "N/A" : ("%.1f%%" % ((ad_group.clicks.to_f / ad_group.impressions.to_f) * 100)) %>
				<td class="value"><%= "$%04.2f" % (ad_group.spent || 0) %></td>
				<td class="value"><%= ad_group.impressions == 0 ? "N/A" : ("$%04.2f" % ((ad_group.spent.to_f / ad_group.impressions.to_f) * 1000)) %></td>
				<td class="value"><%= ad_group.clicks == 0 ? "N/A" : ("$%04.2f" % (ad_group.spent.to_f / ad_group.clicks.to_f)) %></td>
			</tr>
		<% end %>
	</tbody>
</table>
