<% content_for :second_header do %>
	<%= render :partial => "reports/second_header" %>
<% end %>

<%= render :partial => "reports/header", :locals => {:title => "Campaigns Report", :action => "by_campaigns"} %>

<table class="reports">
	<thead>
		<tr>
			<th>Campaign</th>
			<th class="value">Impressions</th>
			<th class="value">Clicks</th>
			<th class="value">Click-Through Rate</th>
		</tr>
	</thead>
	<tbody>
		<% @campaigns.each do |campaign| %>
			<tr<% unless campaign.enabled %> class="disabled"<% end %>>
				<th><%= campaign.name %> <sup><%= link_to 'Edit', edit_campaign_path(campaign) %></sup></th>
				<td class="value"><%= "%d" % (campaign.impressions || 0) %></td>
				<td class="value"><%= "%d" % (campaign.clicks || 0) %></td>
				<td class="value"><%= campaign.impressions == 0 ? "N/A" : ("%.1f%%" % ((campaign.clicks.to_f / campaign.impressions.to_f) * 100)) %>
			</tr>
		<% end %>
	</tbody>
</table>
