<% content_for :second_header do %>
	<%= render :partial => "reports/second_header" %>
<% end %>

<%= render :partial => "reports/header", :locals => {:title => "Templates Report", :action => "by_templates"} %>

<table class="reports">
	<thead>
		<tr>
			<th>Template</th>
			<th class="value">Impressions</th>
			<th class="value">Clicks</th>
			<th class="value">Click-Through Rate</th>
			<th class="value">Spent</th>
			<th class="value">Avg. CPM</th>
			<th class="value">Avg. CPC</th>
		</tr>
	</thead>
	<tbody>
		<% @templates.each do |template| %>
			<tr>
				<th><%= template.name %></th>
				<td class="value"><%= "%d" % (template.impressions || 0) %></td>
				<td class="value"><%= "%d" % (template.clicks || 0) %></td>
				<td class="value"><%= template.impressions == 0 ? "N/A" : ("%.1f%%" % ((template.clicks.to_f / template.impressions.to_f) * 100)) %>
				<td class="value"><%= "$%04.2f" % (template.spent || 0) %></td>
				<td class="value"><%= template.impressions == 0 ? "N/A" : ("$%04.2f" % ((template.spent.to_f / template.impressions.to_f) * 1000)) %></td>
				<td class="value"><%= template.clicks == 0 ? "N/A" : ("$%04.2f" % (template.spent.to_f / template.clicks.to_f)) %></td>
			</tr>
		<% end %>
	</tbody>
</table>
